.footer{
    width: 1600px;
    height: 137px;
    margin-top: 130px;
    background: linear-gradient((76.02deg, #FF9D2D 1.66%, #FFD877 93.21%));
    display: flex;
    align-items: center;
    .footer__text{
    font-size: 14px;
line-height: 160%;
width: 269px;
margin-left: 50px;
}
.footer__pictores{
    width: 139px;
    height: 41.27px;
    background-color: black;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    align-items: center;
    
    .footer__box{
    width: 87.33px;
    height: auto;
    margin-left: 13px;
}
}

}
